# Firebase client configuration for the murad muse project
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=murad-muse.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=murad-muse
VITE_FIREBASE_STORAGE_BUCKET=murad-muse.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=758253276405
VITE_FIREBASE_APP_ID=1:758253276405:web:3a96d5c4ed01db71a6c9bc
